<div class="display-input">
  <p><%= @user_input %></p>
  <p><em>—You</em></p>
</div>
<div class="display-output">
  <p class="answer"><%= @answer %></p>
  <p><em>—Your coach</em></p>
</div>

<%= link_to "Ask a new question", ask_path %>
