<p class="question">Ask your coach anything:</p>
<form class="question-form" action="/answer">
  <input class="form-box" type="text" name="answer">
  <input class="blue-btn" type="submit" value="Ask">
</form>
